/JavaTehtävät/nbproject/private/
/Tehtävä5/nbproject/private/
/Tehtävä5/build/
/Tehtävä16/nbproject/private/
/Tehtävä16/build/
/Tehtävä2/build/
/Tehtävä2/nbproject/private/
/Tehtävä10/nbproject/private/
/Tehtävä10/build/
