/JavaTehtävät/nbproject/private/
/Tehtävä5/nbproject/private/
/Tehtävä5/build/
/Tehtävä16/nbproject/private/
/Tehtävä16/build/
/Tehtävä2/build/
/Tehtävä2/nbproject/private/
/Tehtävä10/nbproject/private/
/Tehtävä10/build/
/Tehtävä4/nbproject/private/
/Tehtävä6/nbproject/private/
/Tehtävä6/build/
/Tehtävä8/nbproject/private/
/Tehtävä8/build/
/Tehtävä3/nbproject/private/
/Tehtävä3/build/
/Tehtävä13/nbproject/private/
/Tehtävä13/build/
/Tehtävä17/nbproject/private/
/Tehtävä17/build/
/Tehtävä14/nbproject/private/
/Tehtävä14/build/
/Tehtävä7/nbproject/private/
/Tehtävä7/build/
/Tehtävä4/build/
